.home {
    background: #7b68ee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContainer {
    border-radius: 10px;
    width: 75%;
    height: 80%;
    display: flex;
    overflow: hidden;
}

.sidebar {
    flex: 1;
    background: #483d8b;
}

.navbar {
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2f2d52;
    height: 60px;
}

.homeUser {
    font-weight: 600;
}

.homeUserContent {
    font-size: 14px;
}

.searchIcon {
    display: none;
}

.userChatList {
    height: 440px;
    overflow: auto;
}

.userChat {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.userChat:hover {
    background: #2f2d52;
}

.chatOnlineBadge {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    bottom: 6px;
    left: 36px;
}

.userChatBox {
    display: flex;
    flex-direction: column;
}

.chat {
    flex: 2;
}

.chatInfo {
    height: 60px;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #483d8b;
}

.chatInfo > span {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.chatIcon {
    display: flex;
    gap: 1em;
}

.chatIcon > svg {
    cursor: pointer;
    font-size: 20px;
}

.messages {
    background: #ddddf7;
    padding: 10px;
    height: calc(100% - 110px);
    color: #483d8b;
    overflow: auto;
}

.message {
    display: flex;
    gap: 0.75em;
    padding: 0.25em;
    margin-bottom: 0.25em;
    align-items: flex-end;

    &.owner {
        flex-direction: row-reverse;
    }

    &.owner > .messageContent > p {
        background: #8da4f1;
        color: #fff;
        border-radius: 10px 0 10px 10px;
    }
}

.messageInfo > span {
    font-size: 12px;
    color: gray;
}

.messageContent {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.messageContent > p {
    background: #fff;
    font-weight: 500;
    padding: 0.5em 1em;
    border-radius: 0 8px 8px 8px;
}

.messageContent > img {
    border-radius: 8px;
    max-width: 65%;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
    background: #fff;
}

.inputField {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;

    &::placeholder {
        color: lightgray;
    }
}

.send {
    display: flex;
    gap: 0.25em;
    align-items: center;
    font-size: 1.5em;
    color: #483d8b;
}

.sendBtn {
    background: #483d8b;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.sendBtn:hover {
    background: #fff;
    border: 1px solid #483d8b;
    color: #483d8b;
}

/* MEDIA QUERY */
@media only screen and (max-width: 480px) {
    .navbar > div,
    .searchForm > form,
    .userChatBox {
        display: none;
    }

    .searchIcon {
        display: block;
        margin: 0.5em;
        font-size: 20px;
    }

    .chat {
        flex: 3;
    }
}

@media only screen and (max-width: 760px) {
    .chatInfo > h3 {
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
}
